
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,300&display=swap');


body{
  margin:0;
  font-family: 'Poppins', sans-serif;
  
}
.main-nav{
height:7vh ;
background-image:linear-gradient(to left, rgb(127, 216, 245), rgb(255, 255, 255));
border-bottom: 1px solid #00A5EC;
box-shadow:2px 0.5px rgb(211, 209, 209);
padding: 20px 0 10px;
}

.Navbar{
  display: flex;
  list-style: none;
  justify-content: flex-end;
}


.logo{
  width:50%;
  margin-left: 20px;
  justify-content: left;
}

.icons{
  cursor: pointer;
  width:24px;
  height: 25px;
}
.main-nav li{
  font-size:  1em;
  margin-left: 10px;
  margin-right: 20px;
}
.h{
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  align-content: center;
}
.title{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  
}
.title h3{
  font-size: 20px;
}
.detail{
  margin-top: 50px;

}

.heading{
  margin-top: 0;
  font-size: 28px;
  line-height: 1.28571429;
  font-weight: 600;
 }
 h3{
   font-size: 16px;
   font-weight: 600;
   line-height: 20px;
 }
.detail-box{
  border: 1px solid #b7acac;
  padding: 24px 16px 0;
  border-radius: 6px;
}
.info-contain{
  display: flex;
  flex-wrap: wrap;
}

.work-from-icon-heading,.applicants-heading-icons{
  margin: 20px 20px 20px 0px;
  display: flex;
}

.info-icons{
  margin-right: 40px;
  margin-bottom: 20px;

}
.icon-heading{
  display: flex;
}

.icon-size{
  margin-right: 5px;
  height: 20px;
  width:20px;
}
.start-icon ,.duration-icon,.stipend-icon,.apply-icon,.applicants-icon,.home-icon{
  height: 100%;
  width:100%;
}



.info-contain p{
  font-size:14px;
  color:#333333;
  margin: 20px;

 }
 .internshala{
  color: #8a8a8a;
 }



.more-info{
  border-top: 1px solid #b7acac;
 }

.more-info p,li{
  
  color:#484848;
 font-weight: 400;
  /* font-size:14px; */
 }

 button{
  max-height: 80px;
  
  font-size: 16px;
  font-weight: 600;
  background:#ec7c2d;
  color:white;
  max-width: 271px;
  margin-bottom: 24px;
  border-radius: 4px;
  padding: 12px 32px;
  border: none;
  min-width: 146px;
  cursor: pointer;
 }
 .btn{
  display: flex;
  justify-content: center;
}

.tab{
  display: flex;
  justify-content:left;
}

.round-tab{
  margin-right: 10px;
  border-radius: 25px;
  padding: 7px;
  color: #8A8A8A;
  background-color:#f7f7f7 ;
}

.nav-opt{
  cursor: pointer;
}
.nav-opt:hover{
color: blue;
}

.website{
display: flex;
}
.website-link{
  margin-right: 5px;
}

@media only screen and (max-width:798px){
.detail{  margin-left: 0;
  margin-right: 0;

}
.detail-box{
  border-radius: 0px;
}
.heading{
  font-size: 1.5rem;
}
.title{
  flex-direction: column;
}

}
